body
{
    background-color: #6E6E6E;
}
h1
{
 text-align: center;
 color: white;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
th
{
 background-color: #BAFF39;
 text-align: center;
 border-color: #6E6E6E;
 }
table
{
    border: 12px;
    width: 100%;
    align-content: center;
}
h3{
    text-align: center;
 color: white;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td{
    text-align: center;
 color: black;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 background-color: white;

} 
img{
    max-width: 200px;
    max-height: 200px;
}
div#float1
{
   float: left;
   background-color: white;
    clear: both;
    margin: 5px;
    width: 60%;
}
div#float2
{
    background-color: #BAFF39;
    float:right;
    width: 60%;
    margin: 5px;
    color: black;
}
button{
    
    margin: 5px;
    align-content: center;
    color: black;
    background-color: #BAFF39;
    border: solid #6E6E6E;
}
form{
    background-color: #6E6E6E;
    color: white;
}
h2{
    text-align: center;
    color: white;
}
div#venom{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #6E6E6E;
    color: #BAFF39;
}
.first
{
    color: black;
}
div#buddy
{
    float: left;
    background-color: #BAFF39;
    width: 48%;
}
div#debs
{
    float: right;
    background-color: #BAFF39;
    width: 48%;

}
div#adress
{
    border-radius: 30px;
    align-content: center;
    background-color: #BAFF39 ;
    color: black;
    width: 30%;
    margin: 20px;
    padding: 40px;
}
div#give
{
 background-color: #BAFF39;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}